* {
  margin: 0;
}

body {
  font-family: sans-serif;
  height: 100%;
}

header {
  background-color: : #455A64;
  color: #FFFFFF;
  margin-top: 0px;
  display: inline;
  width: 100%;
}
h1 {
  background-color: #455A64;
  margin-top: 0;
  padding-bottom: 0px;
  font-size: 4em;
  width: 100%;
}

h2 {
/*   border-bottom: solid; */
  padding-bottom: 4px;
}

hr {
  border-bottom-color: #CFD8DC;
  border-style: solid;
  margin-top: 15px;
  margin-right: 17px;
  margin-left: 1px;
}
.logo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  display: inline;
}

.container-left {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #455A64; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}

.container-right {
  height: 763px;
  margin-left: 50%;
  width: 50%;
}

.website-input {
  padding-bottom: 5px;
  height: 25px;
  width: 85%;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.url-input {
  padding-bottom: 5px;
  height: 25px;
  width: 85%;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.input-button {
  width: 86%;
  height: 35px;
  border-radius: 0px;
  font-size: 1.5em;
  background-color: #FFC107;
  color:  #FFFFFF;
}
.input-button:hover {
  background-color: #FFD773;
  color: #FFFFFF;
  
}

.container-right {
  padding: 20px;
  background-color: #CFD8DC;


}

.cards {
  border-color: #607D8B;
  border-style: solid;
  border-width: 1px;
  color:  #455A64;
  margin-right: 10px;
  margin-left: 1px;
  padding-left: 10px;
  padding-top: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-bottom: 8px;
  background-color: #FFFFFF;

}



.website-url {
  text-decoration: underline;
  text-decoration-color: #F2F4f4;
  color: #607D8B;
  padding: 7px;
  display: flex;
  margin-left: -7px;
  padding-top: 10px;
  font-size: 1.2em;
}

.website-url:hover {
  text-decoration-color: #FFC107;
}

.read-delete {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 7px;
  padding: 0px;
  margin-top: 5px;
  font-size: 1em;
  background: none;
  color: inherit;
  text-decoration-color: #445A64;
  text-decoration: underline;
  border: none;

}

.read-delete:hover {
  text-decoration-color: #FFC107;
}
